@charset "UTF-8";
/*
#reset.css
===============================================
*/
a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}