@charset "UTF-8";
/*
#normalize.css
===============================================
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/*
#reset.css
===============================================
*/
a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

/*
#setting
===============================================
- キーカラーの設定
- コンテンツ幅、ブレイクポイントの設定
- mixinの設定
- キーフレームアニメーションの設定
*/
/*
#common
===============================================
- サイト全体の共通設定
- レスポンシブ対応
- 全ページ共通部品 (header, footer, sidebar, etc.)
*/
/* basic setting */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "MS Pゴシック", "MS P Gothic", sans-serif;
  line-height: 1.6;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

/* responsive display */
.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}
/* layout */
.l-header {
  font-size: 3em;
  padding: .5em;
  text-transform: capitalize;
  background-color: #fff;
}
@media only screen and (max-width: 768px) {
  .l-header {
    position: fixed;
    font-size: 1.3em;
    padding-right: 60px;
    z-index: 1000;
  }
}

.l-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .l-main {
    display: block;
    position: relative;
    height: 100%;
    padding: 76px 0 55px;
    overflow: hidden;
  }
}

.l-content {
  /* background-color: #ddd; */
  width: 70%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .l-content {
    width: 100%;
    height: 100%;
  }
}

/* side */
.l-side {
  position: relative;
  width: 30%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.l-side.is-side {
  left: 0;
}
@media only screen and (max-width: 768px) {
  .l-side {
    position: absolute;
    top: 76px;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 300;
  }
  .l-side.is-side {
    right: 0;
    left: inherit;
  }
}

.navSide {
  height: 100%;
  background-color: #ece1fb;
}
@media only screen and (max-width: 768px) {
  .navSide {
    margin-top: 55px;
  }
}
.navSide ul {
  position: fixed;
  left: -100%;
  top: 110px;
  width: 30%;
  height: 100%;
  margin-top: 55px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #cfaffa;
}
@media only screen and (max-width: 768px) {
  .navSide ul {
    margin-top: 0;
    left: inherit;
    right: -100%;
    top: 131px;
    width: 100%;
  }
}
.navSide ul ul {
  background-color: #b37dfa;
}
.navSide ul ul ul {
  background-color: #974bfa;
}
.navSide .is-childOpen + ul,
.navSide .is-childOpen .is-childOpen + ul {
  left: 0;
}
@media only screen and (max-width: 768px) {
  .navSide .is-childOpen + ul,
  .navSide .is-childOpen .is-childOpen + ul {
    left: inherit;
    right: 0;
  }
}
.navSide li {
  line-height: 2em;
  border-bottom: 1px solid #fff;
}
.navSide li:last-child {
  border: none;
}
.navSide li a {
  display: block;
  padding-left: 1em;
  background-color: #000;
}
.navSide li a:hover, .navSide li a.is-current {
  background-color: #c125f6;
}
.navSide li li a {
  background-color: #333;
}
.navSide li li li a {
  background-color: #666;
}
.navSide li li li li a {
  background-color: #999;
}

@media only screen and (max-width: 768px) {
  .l-side:not(.is-side) .is-childOpen + ul,
  .l-side:not(.is-side) .is-childOpen .is-childOpen + ul {
    right: -100%;
  }
}
.footerSide {
  background-color: #aaa;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footerSide {
    position: fixed;
    width: 100%;
  }
}

/* section */
.sec {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: none;
  background-color: #ddd;
}
.sec.is-active {
  display: block;
}
@media only screen and (max-width: 768px) {
  .sec.is-active {
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .sec {
    z-index: 200;
  }
  .sec:not(.is-active) {
    left: -100%;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .sec.sec--frontPage {
    z-index: 0;
  }
}
.sec h2 {
  font-size: 2em;
  border-bottom: 1px solid;
  margin-bottom: 1em;
  text-transform: capitalize;
}

/* button to displaying navigation */
.btnNav {
  position: absolute;
  top: .5em;
  right: .5em;
  padding: 5px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
.btnNav.is-side span:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
.btnNav.is-side span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
}
.btnNav.is-side span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.btnNav__Line span {
  display: block;
  height: 2px;
  background-color: #000;
  margin-top: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.btnNav__Line span:first-child {
  margin-top: 0;
}

/*@ sourceMappingURL=style.css.map */
